modules/secrets/default.nix filter=git-crypt diff=git-crypt
machines/orb-nixos/configuration.nix filter=git-crypt diff=git-crypt
machines/mini-vm/configuration.nix filter=git-crypt diff=git-crypt
machines/mini-vm/stash.nix filter=git-crypt diff=git-crypt
machines/mini-vm/stash-container.nix filter=git-crypt diff=git-crypt
machines/bee/stash/** filter=git-crypt diff=git-crypt
machines/Ivans-Mac-mini/darwin/server/stash.nix filter=git-crypt diff=git-crypt
machines/Ivans-Mac-mini/darwin/server/stash/** filter=git-crypt diff=git-crypt
templates/stash-config.yml filter=git-crypt diff=git-crypt
machines/Ivans-Mac-mini/darwin/server/k8s/clusters/orbstack/openwebui/secret-openwebui-config.yaml filter=git-crypt diff=git-crypt
machines/Ivans-Mac-mini/darwin/server/k8s/clusters/orbstack/openwebui/secret-openwebui-config-secret.yaml filter=git-crypt diff=git-crypt
machines/Ivans-Mac-mini/darwin/server/k8s/clusters/orbstack/openwebui/ingress.yaml filter=git-crypt diff=git-crypt
