modules/secrets/default.nix filter=git-crypt diff=git-crypt
machines/orb-nixos/configuration.nix filter=git-crypt diff=git-crypt
machines/mini-vm/configuration.nix filter=git-crypt diff=git-crypt
machines/bee/stash.nix filter=git-crypt diff=git-crypt
