[global]
excludes = ["home/obsidian.nix"]

[formatter.ruff]
command = "ruff"
options = ["format"]
includes = ["*.py"]

[formatter.ruff-check]
command = "ruff"
options = ["check", "--fix"]
includes = ["*.py"]

[formatter.nix]
command = "nixfmt"
includes = ["*.nix"]

[formatter.statix]
command = "bash"
options = ["system/scripts/statix-wrapper.sh"]
includes = ["*.nix"]

[formatter.deadnix]
command = "deadnix"
options = ["--edit"]
includes = ["*.nix"]

[formatter.prettier]
command = "prettier"
options = ["--write", "--prose-wrap", "always"]
# TODO: Enable JSON and YAML formatting after reviewing changes
# includes = ["*.md", "*.json", "*.yml", "*.yaml"]
includes = ["*.md"]

[formatter.shfmt]
command = "shfmt"
options = ["-w", "-i", "2"]
includes = ["*.sh", "*.bash"]

# --format=diff only shows auto-fixable issues; to see all errors run:
# ```console
# find . -name '*.sh' -not -path '*/.git/*' -exec shellcheck {} +
# ```
[formatter.shellcheck]
command = "shellcheck"
options = ["--format=diff"]
includes = ["*.sh", "*.bash"]

[formatter.stylua]
command = "stylua"
includes = ["*.lua"]

[formatter.gofumpt]
command = "gofumpt"
options = ["-w"]
includes = ["*.go"]

[formatter.golangci-lint]
command = "bash"
options = ["system/scripts/go-lint-wrapper.sh"]
includes = ["*.go"]
